/* BASE AND UNIVERSAL STYLES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

body{
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background-color: #EFD9D1;
    color: #000000;
    padding: 50px 50px;

}

p {
	text-align: center;
	text-justify:inter-word;
	align-items: flex-end;
    padding-bottom: 10px;
}

#bio{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;
    column-gap: 50px;
}

a{
    text-decoration: none;
    display: inline;  
    color: #000000;  
    

}

/* GIF AND IMGS */

#gif{
    width: 150px;
}

#portrait{
    width:max-content;
    height: max-content;
    
}

img{
    max-width: 100%;
    height: auto;
    
} 

/* HEADER STYLES */

a:hover{
    color: #ffffff;
    background-color: #DDB7AB;
    border: 5px solid #DDB7AB;
    border-radius: 10px;
}

.headercolor{
    background-color: #DDB7AB ;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
    padding: 20px;
}

/* NAV BAR */
nav {
    /* background-color: yellow;  */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 30%;
	justify-content: space-between;   
}

nav a {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border: 5px solid #999B84;
    background-color: #999B84;
    border-radius: 10px;
    text-decoration: none;
	align-self: flex-start; 
}

/* HEADINGS */

h1{
    align-self: center;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border: 5px solid #DDB7AB;
    background-color: #DDB7AB;
    border-radius: 10px;
}

h2{
    padding-top: 50px;
    padding-bottom: 30px; 
    font-weight: 450;
    text-align: center;
}

h3{
    text-align: center;
}

/* INSPIRATION PAGE */

.insposection {
    /* background-color: orange; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
    
	/* padding-bottom: 20px; */
}

.inspoarticle {
	/* border: 1px dashed yellow; */
	width: 30%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap; 
	justify-content: flex-start;
	align-items: space-between;
	/* margin bottom:20px;*/
}

/* TOP 5'S PAGE */
.top5div{
    background-color: #f6e8d7;
    border: 2px solid #f6e8d7;
    border-radius: 20px;

}

.top5section {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
    gap: 20px;
    padding-top: 10px;
    padding-left: 10px;

}

.top5article {
	/* border: 1px dashed yellow; */
	width: 30%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap; 
	justify-content: flex-start;
	align-items: space-around;
    list-style-type: none;
    text-align: center;
    gap: 10px;
	/* margin bottom:20px;*/
}

#top5img{
   max-width: max-content;
   height: auto; 
   
}

.tovisit{
    background-color: #f6e8d7;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #f6e8d7;
    border-radius: 10px; 
}

.songsection{
    /* background-color: #DDB7AB; */
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 5%;
	margin-right: 5%;
    gap: 20px;
    padding: 10px;
    /* border: 2px solid #DDB7AB;
    border-radius: 10px;	 */
}

.songarticle{
    /* border: 1px dashed yellow; */
    width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: space-around;
    gap: 10px;
}

#nycimg{
    background-color: orange;
    max-width: 100%;
    max-height: 55%;
    align-self: center;
}





/* .container{
    background-color: orange;
    width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; 
	align-items: center;
	justify-content: space-between;
    padding-right: 50px;
    
}  */